---
import Module3Layout from "../../layouts/Module3Layout.astro";

// import a single file
import * as myPost from "./post-1.mdx";

// import multiple files with Astro.glob
const posts = await Astro.glob("./*.{md,mdx}");
---

<Module3Layout title="Blog">
  <h1>Blog Page</h1>
  <ul>
    <!-- <li><a href={myPost.url}></a>{myPost.frontmatter.title}</li> -->
    {
      posts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Module3Layout>
