---
import { Image, getImage } from "astro:assets";
import katie from "../assets/image.jpg";
import ReactWrapper from "../components/ReactWrapper";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <ReactWrapper>
      <Image
        src={katie}
        width={400}
        format="webp"
        alt="Katie Haus"
        height={400}
        quality={"max"}
        aria-hidden="true"
      />
    </ReactWrapper>
  </body>
</html>
