---
const { href, ...rest } = Astro.props;
---

<a href={href} {...rest}>
  <slot />
</a>

<style>
  a {
    color: green;
    font-size: 3rem;
  }
</style>

<script>
  const link = document.querySelector("a");
  link.addEventListener("click", () => {
    alert("clicked");
  });
</script>
