---
import Module3Layout from "./Module3Layout.astro";

const { frontmatter } = Astro.props;
---

<Module3Layout title={frontmatter.title}>
  <a href="/blog">Back to Blog</a>
  <slot />
</Module3Layout>
